{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab perspiciatis illum voluptate veniam
        tempora repellendus, quam in magnam debitis dolore dolor aut rem. Nam modi sapiente quod fugit nostrum placeat
        sed hic incidunt magnam officiis, ipsam repellendus laboriosam maxime provident exercitationem, dolorum amet
        sint debitis error eveniet et sequi. Corrupti est recusandae fuga. Asperiores et provident quisquam eum
        deleniti, culpa voluptatum voluptatibus pariatur accusamus officiis minima perferendis eius voluptatem. Unde
        mollitia dicta omnis in labore voluptatum error magni, sint facilis, aliquid quidem distinctio tenetur totam
        tempora id ut animi nobis nesciunt molestiae consectetur minima fugiat nulla? Eligendi obcaecati modi vel?</p>
    <hr class="my-4">
    <p>thanks from vivi</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


{% endblock content %}